@model HighScoreViewModel

<h1>Test Game</h1>

<p>Your current high score is @Model.userHighScore.Score</p>

<button onclick="location.href='@Url.Action("Test")'">Click me to increase your high score!</button>
