@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
  <h1 class="text-center">Welcome to Game Project!</h1>
  <p class="lead text-center">Are you a gaming enthusiast looking for the ultimate gaming experience? Look no further! Game Project is here to provide you with the best gaming experience you can imagine.</p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Action-Packed Adventures</h3>
      <p>Our games are designed to challenge you and provide hours of fun and entertainment.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Mind-Bending Puzzles</h3>
      <p>Whether you prefer to play solo or with friends, we've got the perfect game for you.</p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Social Gaming</h3>
      <p>Connect with other gamers and enjoy a truly social gaming experience.</p>
    </div>
  </div>
  <hr>
  <p class="lead text-center">At Game Project, we're committed to providing you with the highest quality gaming experience possible. Join us today and let the games begin!</p>
  <div class="text-center">
    <a href="/Home/Signup" class="btn btn-primary btn-lg">Register</a>
  </div>
</div>

