@model GameProject.Models.LoginViewModel

@{
    ViewData["Title"] = "Log In";
}
<section class="h-100 gradient-form" style="background-color: #A499B3">
    <div class="container py-5 h-100 my-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://logowik.com/content/uploads/images/gamepad9349.jpg" style="width: 185px;" alt="logo">
                                </div>
                                <form method="post" action="/Account/Login">
                                    @Html.AntiForgeryToken()
                                    <b style="font-size: 20px;">Log in</b>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username-input">Username</label>
                                        <input type="text" id="username-input" class="form-control" name="username" placeholder="Username..." required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password-input">Password</label>
                                        <input type="password" id="password-input" class="form-control" name="password"  placeholder="Password..." required/>
                                    </div>

                                    <div class="text-danger">@TempData["error"]</div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                            Log
                                            in
                                        </button>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <button type="button" class="btn btn-outline-primary">Create new</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Welcome back!</h4>
                                <p class="small mb-0">
                                    Please enter your login credentials below to access your account. If you don't have an account yet, you can create one by clicking on the 'Register' button.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>