@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy

    We value your privacy and are committed to protecting your personal information. This policy outlines what data we collect, how we use it, and how we keep it secure.

    Information We Collect:

    When you register on our website, we collect your name.
    We may collect information about your device, such as browser type, and operating system.
    We use cookies to track your activity on our website and improve your user experience.

    How We Use Your Information:

    We use your information to provide our services and communicate with you.
    We may use your information for analytics purposes to improve our website and services.
    We do not sell or share your information with third parties.

    How We Keep Your Information Secure:

    We use reasonable technical and organizational measures to protect your information against unauthorized access, disclosure, and alteration.
    We encrypt sensitive data in transit and at rest.
    We regularly review our security practices and procedures to ensure we are taking appropriate measures to protect your information.

    Changes to This Policy:

    We may update this policy from time to time to reflect changes in our services or applicable laws.
    We will notify you of any material changes to this policy via email or by posting a notice on our website.
</p>
